@main-color: #651FFF;
@white: #FFFFFF;


@tabbar-text-active-color: @main-color;



@button-global-border-radius: 1.25rem;

@button-global-font-color: @white;

@button-default-bg-color: @white;
@button-default-font-color: @main-color;

@button-primary-bg-color: @main-color;
@button-primary-active-bg-color: @main-color;

@tab-bar-active-color:@main-color;
@tab-text-active-color:@main-color;

@cell-font-size:14px;
